<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
  </head>
  <body>
    <ol>
      {% assign sorted = site.books | sort: 'rating' | reverse %}

      {% for book in sorted limit: 10 %}

        {% if book.current == false %}

          {% if book.read == true %}
            <li>
              <p><a href="{{ site.url }}{{ book.url }}">{{ book.title }}, {{ book.author }}</a> - {{ book.rating }} / 5 </p>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ol>
  </body>
</html>
