<nav role="navigation">
  <ul>
    <li><a href="/bookclub" {% if page.url == "/bookclub" %}class="active"{% endif %}>Home</a></li>
    <li><a href="/bookclub/current-book" {% if page.url == "/bookclub/current-book" %}class="active"{% endif %}>Current Book</a></li>
    <li><a href="/bookclub/previous-books" {% if page.url == "/bookclub/previous-books" %}class="active"{% endif %}>Previous Books</a></li>
    <li><a href="/bookclub/unread-books" {% if page.url == "/bookclub/unread-books" %}class="active"{% endif %}>Unread Books</a></li>
  </ul>
</nav>
