<nav role="navigation">
  <ul>
    <li><a href="/bookclub" {% if page.url == "/bookclub" %}class="active"{% endif %}>Home</a></li>
    <li><a href="/bookclub/current-book" {% if page.url == "/bookclub/current-book" %}class="active"{% endif %}>Current Book</a></li>
    <li><a href="/bookclub/previous-books" {% if page.url == "/bookclub/previous-books" %}class="active"{% endif %}>Previous Books</a></li>
    <li><a href="/bookclub/site-map" {% if page.url == "/bookclub/site-map" %}class="active"{% endif %}>Site Map</a></li>
  </ul>
</nav>
